* {
    margin: 0;
    padding: 0;
}

header,
footer {
    background-color: black;
    color: white;
    padding: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.styleColor {
    background-color: red;
    color: blue;
}